body {
	font-family: "Open Sans", sans-serif;
}

h1{
	color: #CCC;
	font-weight: 300;
}

figure{
	margin: auto;
}

.content article{
	padding: 100px 0;
	max-width: 640px;
	margin: 0 auto;
	text-align: center;
}

img{
	max-width: 100%;
}

/*Parallax*/

.Parallax-Header{
	/*it has to be relative so it is an anchor for the content within,
	which will be absolute*/
	position: relative;
	height: 600px;
	background-image: url(../img/TeaCup.jpg);
	background-size: cover;
	background-position: top center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	overflow: hidden;
}

.Logo{
	height: 200px;
	width: 100%;
	text-align: center;
	background-image: url(../img/Parallax-logo.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -100px; 
}

.Flowers{
	height: 600px;
	width: 600px;
	background-image: url(../img/Lamp1.png);
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	top: 50%;
	margin-left: -150px

}

.anchorDivs{
	height: 600px;
}
.CoverDiv{
	/*background-color: rgba(255,0,0,0.5);*/
	background-color: purple;
	opacity: 0;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;

}
.Titles{
	color: white;
	font-size: 5em;
	position: absolute;
	/*bottom: 50%;
	text-align: center;*/
}

.SecondSection{
	height: 600px;
	width: 100%;
	background-image: url(../img/tv.jpg);
	position: relative;
	background-repeat: no-repeat;
}

.ThirdSection{
	height: 600px;
	width: 100%;
	background-image: url(../img/RockyMountains.jpg);
	position: relative;
	background-repeat: no-repeat;
}

.fixHeader{
	position : fixed;
	top : -520px;
}
.content{
	height: 4000px;	
}

footer{
	background-color: black;
	height: 200px;
	right: 0px;
	left:0px;
	justify-content: center;
	align-items: center;
	position:absolute;
}
footer div{
	position:relative;
	color: white;
	font-size: 5em;
}