body {
	font-family: "Open Sans", sans-serif;
}

h1{
	color: #CCC;
	font-weight: 300;
}

figure{
	margin: auto;
}

.content article{
	padding: 100px 0;
	max-width: 640px;
	margin: 0 auto;
	text-align: center;
}

img{
	max-width: 100%;
}

/*Parallax*/

.Parallax-Header{
	/*it has to be relative so it is an anchor for the content within,
	which will be absolute*/
	position: relative;
	height: 500px;
	background-image: url(../img/TeaCup.jpg);
	background-size: cover;
	background-position: top center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	overflow: hidden;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.Logo{
	height: 200px;
	width: 100%;
	text-align: center;
	background-image: url(../img/Parallax-logo.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -100px; 
}

.Lamp{
	height: 500px;
	width: 600px;
	background-image: url(../img/Lamp1.png);
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	top: 50%;
	margin-left: -150px
}

.anchorDivs{
	height: 500px;
}
.CoverDiv{
	/*background-color: rgba(255,0,0,0.5);
	background-color: purple;*/
	opacity: 0.1;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	display: flex;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
}

.CoverDivPurple{
	background-color: orange;
}

.CoverDivYellow{
	background-color: purple;
}

.Titles{
	color: white;
	font-size: 3em;
	position: absolute;
	width: 100%;
	text-align: center;
	animation-duration: 1.2s;
	animation-fill-mode: forwards;
	/*bottom: 50%;
	text-align: center;*/
}

.Titles-Animation-Down{
	animation-name: goDown;
}
.Titles-Animation-Up{
	animation-name: goUp;
}

@keyframes goDown {
    0%   {top:0px; font-size: 5em; text-shadow: black 1px 1px}
    100% {top:410px; font-size: 4em; text-shadow: black 2px 2px}
}
@keyframes goUp {
    0% {top:410px; font-size: 4em; text-shadow: black 1px 1px}
    100%   {top:0px; font-size: 5em; text-shadow: black 2px 2px}
}
.SecondSection{
	height: 500px;
	width: 100%;
	background-image: url(../img/chemestry.jpg);
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
}

.ThirdSection{
	height: 500px;
	width: 100%;
	background-image: url(../img/music.jpg);
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
}
/*this 420px will be used in the JS file*/
.fixHeader{
	position : fixed;
	top : -420px;
}
.content{
	height: 4000px;	
}

footer{
	background-color: black;
	height: 200px;
	right: 0px;
	left:0px;
	position:absolute;
}
footer div{
	width: 100%;
	text-align: center;
	position:relative;
	color: white;
	font-size: 4vw;
}